body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.btn {
    padding: 8px 16px;
    background: linear-gradient(to right, #FF4B2B, #FF416C);;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.user-header {
    display: flex;
    align-items: center;
}

p {
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #c82333;
    margin-left: 10px
}

td input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid grey;
}

td input:focus {
    border: none;
    outline: none;
}

.simpan-btn {
    background-color: green;
    color: #fff;
}

table thead {
    background: linear-gradient(to right, #FF4B2B, #FF416C);;
    color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.action-buttons button {
    margin-right: 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107;
    color: #fff;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.delete-btn:hover {
    background-color: #c82333;
}
